/*------------SECTION_SCROLLING------------*/
/*THERES 2 PAGES, DONT TOUCH!*/
.section{
    height: 100vh;
    scroll-snap-align: start;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.section-1{
    display: flex;
    flex-direction:column;
}
.header-1{
    flex: 0 0 8%;
}

.upper-part{
    flex: 0 0 92%;
}

.section-2{
    display: flex;
    flex-direction:column;
}

.middle-part {
    display:flex;
    flex: 0 0 75%;
}
.footer {
    flex: 0 0 25%;
}

/*------------HEADER------------*/
/*HEADER IS SPLIT INTO 3 PARTS, DONT TOUCH!*/
header, footer { 
    display: flex;
    flex-direction: row;
    background: #222; 
    color: #fff; 
    padding: 20px; 
    text-align: center; 
}

#header_left_container, #header_right_container {
    flex: 1 1 0;
}
#header_center_container {
    flex: 0 1 300px;
}


/*Left Header*/
#header_left_container {
    display: flex;
    text-align: left;
    color:#f88105;
}
#header_left_container .right-links{
    display: flex;
    margin-left:auto;
    gap: 50px;
    padding-right:30px;
    color:#f88105;
}

/*Center Header*/
#header_center_container {
    text-align: center;
}


/*Right Header*/
#header_right_container {
    display: flex;
    text-align: right;
}
#header_right_container .left-links{
    display: flex;
    margin-right:auto;
    gap: 50px;
    padding-left:30px;
    color:#f88105;
}
#header_right_container .right-links{
    display: flex;
    margin-left:auto;
    gap: 20px;
    color:#f88105;
}



/*------------BODY------------*/
html{
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #222;
}

html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
}

/*.container { 
    width: 100%;
    
}*/

/*CONTENT BELOW THE HEADER, DONT TOUCH OR EXPLOSION!*/
.upper-part {
    position: relative;
    background-image: url('/images/front_picture/website-start.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.upper-part::before { /*this shit makes the transparent layer*/
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        rgba(69, 7, 10, 0.2) 0%,
        rgba(0, 0, 0, 0.5) 100%
    );
    z-index: 0;
    border-radius: 0px; /* match your container if needed */
}

.upper-part > * {
    position: relative;
    z-index: 1;
}

.middle-part { 
    background: #f4f4f4;
    
    /*padding: 0px;*/ 
    /*margin-bottom: 20px;*/ 
    border-radius: 8px; }

.footer{
    background: #222;
}

.middle-part .middle-left{
    background: #6b6b6b;
    flex: 0 0 60%;
}
.middle-part .middle-right{
    flex: 0 0 40%;
    background: #6b6b6b;
}

.upper-container-content{
    text-align: center;
    display: flex;
    justify-content: center;
}

.upper-container-content-1{
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 40px;
    color: #ffe6c9;
    text-shadow:
        5px 5px 0 #f88105,
        0 0 16px #f88105,
        0 0 32px #f88105;
    letter-spacing: 2px;
    text-align: center;
}
.upper-container-content-2{
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 25px;
    color: #ffe6c9;
    text-shadow:
        3px 3px 0 #f88105;
    letter-spacing: 2px;
    text-align: center;    
}
.upper-container-content-3{
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 20px;
    color:#dfc09d;    
}

.big-round-btn {
    font-family: 'Rubik', Arial, sans-serif;
    padding: 25px 30px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    background: #7a2323;
    color: #ffe6c9;
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
    min-width: 180px; 
}